.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: grid;
  background-color: #edb737;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 6fr 1fr 25fr 1fr;
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.003em;
  grid-template-areas:
    "header header"
    "navbar auth"
    "main main"
    "footer footer";
}

.Auth {
  grid-area: auth;

  font-size: 10px;
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.003em;
}

.Navbar {
  grid-area: navbar;
  padding-top: 1.2em;
  padding-bottom: 0.3em;
}

.Header {
  grid-area: header;
  background-color: rgba(50, 115, 220, 0.3);
  border: 1px solid;
  font-size: 3em;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  font-weight: 50;
  font-style: normal;
  letter-spacing: 0.05em;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  padding-left: 40px;
  background-image: url(http://www.sonyphotog.com/photos/globalmedicalco/4/15387.jpg);
  color: whitesmoke;
}

.Main {
  grid-area: main;
  font-size: 1em;
  border: 1px solid;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  background-color: white;
}

.Footer {
  grid-area: footer;
  border: 1px solid;
  font-size: 2em;
}

.ArticleTitle {
  font-size: 1.2em;
  text-align: left;
  color: black;
}

.ArticleBody {
  font-size: 0.35em;
  text-align: left;
}

.Btn_more {
  padding: 8px 8px;
  background: #000;
  display: inline-block;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #000;
  font-size: 15px;
  font-weight: 400;
}

.FontColorblack {
  color: black;
}
.Footer {
  font-size: 14px;
  color: grey;
  text-align: center;
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.003em;
}
.VoteBtn {
  padding: 2px 2px;
  background: #000;
  display: inline-block;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #000;
  font-size: 15px;
  font-weight: 900;
}
