.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
}

.Navbar {
  grid-area: navbar;
  border: 1px solid;
}

.Header {
  grid-area: header;
  grid-row-end: 1;

  border: 1px solid;

  justify-content: space-evenly;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.Main {
  grid-area: main;
  border: 1px solid;
}

.Footer {
  grid-area: footer;
  border: 1px solid;
}
